@model IEnumerable<Lab_06.Models.Order>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="accordion" id="myAccordion">
  @foreach(var item in Model.Select((el, index) => (el, index)))
  {
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@item.index" aria-expanded="true" aria-controls="collapseOne">
        @item.el.Name, @item.el.City
      </button>
    </h2>
    <div id="collapse-@item.index" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#myAccordion">
      <div class="accordion-body">
        @foreach(var it in item.el.CartLines)
        {
            <p>
                @it.Video.Name, Quantity: 
            </p>
        }
        <form asp-action="OutstandingOrders" method="post">
            <input type="hidden" name="orderId" value="@item.el.OrderId" />
            <button type="submit" class="btn btn-primary">
                Ship Order
            </button>
        </form>
    </div>
    </div>
  </div>
  }
</div>