@model Lab_06.Models.Video

@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>@Model.Name</h4>
            </div>
            <div class="col">
                <h5>Posted By: @Model.User.Name</h5>
            </div>
        </div>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col">
        @*RAW!*@
        @Html.Raw(Model.EmbedHtml)
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h5>Comments:</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @foreach (Comment comment in @Model.Comments)
                {
                    @await Html.PartialAsync("Videos/CommentCard", comment)
                }
            </div>
        </div>
    </div>
</div>