@model Lab_06.Models.ViewModels.VideosIndexViewModels
@{
}
<div class="row">
    @foreach(Video item in Model.Videos)
    {   
    <div class="col">
       @await Html.PartialAsync("Home/Card", item)
    </div>
    }
</div>
<div page-model="@Model.PagingInfo" page-action="Index"></div>
